@mixin invisLink {
  position: relative;
  z-index: 1;

  & > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
  }
}

@mixin after {
  &::after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    @content;
  }
}

@mixin before {
  &::before {
    content: "";
    position: absolute;
    transition: all 0.3s;
    @content;
  }
}

@mixin text-decoration-hover($color) {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;

  &:hover {
    text-decoration-color: $color;
  }
}

@mixin hoverDefault($color, $size, $speed) {
  text-decoration: none;

  &:hover {
    .text-default {
      background-size: 100% 100%;
    }
  }

  .text-default {
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size $speed;
    background-size: 0 100%;
    background-image: linear-gradient(
      transparent calc(100% - $size),
      $color 3px
    );

    @include responsive767 {
      background-image: linear-gradient(
        transparent calc(100% - 1px),
        $color 3px
      );
    }
  }
}

@mixin plusIconLeft() {
  &:hover {
    &::before {
      transform: rotate(180deg);
    }
  }

  @include before {
    content: "+";
    left: 35px;
    transition: transform 0.9s ease;

    @include responsive767 {
      left: 8px;
    }
  }
}

// @media responsive

$responsive1599: "1599px";
$responsive1439: "1439px";
$responsive1279: "1279px";
$responsive1023: "1023px";
$responsive767: "767px";
$responsive639: "639px";
$responsive479: "479px";
$responsive389: "389px";

@mixin responsiveMinWidth768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin responsive1599 {
  @media (max-width: $responsive1599) {
    @content;
  }
}

@mixin responsive1439 {
  @media (max-width: $responsive1439) {
    @content;
  }
}

@mixin responsive1279 {
  @media (max-width: $responsive1279) {
    @content;
  }
}

@mixin responsive1023 {
  @media (max-width: $responsive1023) {
    @content;
  }
}

@mixin responsive767 {
  @media (max-width: $responsive767) {
    @content;
  }
}

@mixin responsive639 {
  @media (max-width: $responsive639) {
    @content;
  }
}

@mixin responsive479 {
  @media (max-width: $responsive479) {
    @content;
  }
}

@mixin responsive389 {
  @media (max-width: $responsive389) {
    @content;
  }
}
