@use "_vars.scss";
@use "_mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $fontMain;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

a {
  background-color: transparent;
  color: inherit;
  outline: none;
  text-decoration-skip-ink: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100dvh;
  color: $colorBlack;
}

.main {
  width: 100%;
  max-width: 100%;
  padding-top: 56px;
  padding-left: 32px;
  padding-right: 32px;

  @include responsive767 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100dvh;
  width: 100%;
  // overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }
}

label,
textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: $fontMain;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.caption {
  font-weight: 800;
  text-transform: uppercase;

  &--h2 {
    font-size: 32px;
    line-height: 40px;

    @include responsive767 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

section {
  padding: 32px 0;

  @include responsive767 {
    padding: 16px 0;
  }
}

.section-title {
  display: flex;
  width: 100%;
}

.container {
  max-width: 1616px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  border: solid 1px $colorGray;
  background-color: $colorWhite;
  border-radius: 50px;
  padding: 24px;
  transition: all 0.3s;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  position: relative;

  @include responsive1279 {
    padding: 16px;
    font-size: 14px;
  }

  @include responsive767 {
    padding: 10px;
    font-size: 12px;
  }

  @include after {
    animation: animationBtn 7s infinite;
    left: 0;
    top: 0;
    border-radius: 50px;
    background: linear-gradient(
      173deg,
      rgb(214, 88, 255),
      rgb(255, 130, 213),
      rgb(255, 152, 213),
      rgb(168, 65, 255),
      rgb(220, 81, 255),
      rgb(243, 175, 237),
      rgb(255, 34, 191),
      rgb(219, 158, 244),
      rgb(255, 127, 200)
    );
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    filter: blur(20px);
  }

  &:hover {
    border-color: transparent;

    &::after {
      opacity: 1;
    }
  }
}

.subscribe-from {
  position: relative;

  .caption {
    margin-bottom: 16px;
  }

  &__form {
    display: flex;
    gap: 27px;

    @include responsive479 {
      flex-direction: column;
      gap: 16px;
    }
  }

  input {
    outline: none;
    font-size: 16px;
    border: 0;
    border-bottom: solid 1px $colorGray;
    height: 32px;
    width: 100%;

    @include responsive767 {
      font-size: 12px;
    }
  }

  .btn {
    padding: 8px 16px;
  }
}

.link-publish {
  @include responsive767 {
    display: none;
  }
}

.not-project {
  display: none;
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 16px;
  order: 3;
  margin-top: 16px;

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='4' height='10' viewBox='0 0 4 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.18794 3.588V3.288C1.30794 3.24 1.44394 3.192 1.59594 3.144C1.74794 3.088 1.90394 3.04 2.06394 3C2.22394 2.96 2.37594 2.928 2.51994 2.904C2.66394 2.872 2.79194 2.856 2.90394 2.856L3.11994 3L1.99194 8.328H2.87994V8.64C2.71194 8.768 2.51594 8.872 2.29194 8.952C2.06794 9.032 1.84794 9.072 1.63194 9.072C1.39994 9.072 1.23194 9.02 1.12794 8.916C1.03194 8.812 0.983938 8.692 0.983938 8.556C0.983938 8.396 0.995938 8.24 1.01994 8.088C1.04394 7.936 1.07594 7.768 1.11594 7.584L1.95594 3.708L1.18794 3.588ZM2.14794 0.924C2.14794 0.715999 2.21194 0.551999 2.33994 0.431999C2.46794 0.312 2.63594 0.252 2.84394 0.252C3.06794 0.252 3.24394 0.312 3.37194 0.431999C3.49994 0.551999 3.56394 0.715999 3.56394 0.924C3.56394 1.124 3.49994 1.28 3.37194 1.392C3.24394 1.504 3.06794 1.56 2.84394 1.56C2.63594 1.56 2.46794 1.504 2.33994 1.392C2.21194 1.28 2.14794 1.124 2.14794 0.924Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $colorBlack;
    left: 0;
    top: 0;
  }

  @include responsive767 {
    display: flex;
  }
}

.full-block {
  width: 100%;

  &__media {
    position: relative;
    width: 100%;
    display: block;
    padding-top: calc(444 / 1616 * 100%);
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer-menu {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
  max-width: 800px;
  margin-top: 24px;

  @include responsive1279 {
    order: 2;
    margin-top: 16px;
    max-width: 100%;
  }

  @include responsive767 {
    justify-content: space-between;
    max-width: 80%;
    margin-top: 0;
  }

  @include responsive639 {
    max-width: 100%;
  }

  @include responsive479 {
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:last-child {
      @include responsive767 {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    @include hoverDefault($colorDark, 1px, 0.3s);
  }
}

.dropBlock {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 32px 32px;
  font-size: 14px;
  line-height: 17px;
  color: $colorBlack;
  background-color: $colorWhite;
  width: 100%;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform 0.3s;

  @include responsive767 {
    padding: 0 16px 16px;
  }

  &.opened {
    transform: translateY(0%);
  }

  .close {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='-0.5' x2='16.722' y2='-0.5' transform='matrix(0.696455 -0.717601 0.696455 0.717601 1.35376 12.9998)' stroke='black'/%3e%3cline y1='-0.5' x2='16.722' y2='-0.5' transform='matrix(0.696455 0.717601 -0.696455 0.717601 1 1.00024)' stroke='black'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 21px;
    right: 32px;
    z-index: 5;
    transition: transform 0.9s ease;

    @include responsive767 {
      top: 22px;
      right: 16px;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  .logo {
    position: relative;
    height: 56px;
    width: 193px;
    transition: width 0.2s;

    @include responsive1279 {
      order: 1;
    }

    @include responsive767 {
      width: 130px;
    }

    &__link {
      width: 193px;
      height: 100%;
      display: flex;

      @include responsive767 {
        width: 130px;
      }

      &--static {
      }

      &--fixed {
        width: 25px;
      }
    }

    &:hover {
    }

    picture {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.link-facebook {
  display: block;
  width: 8px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='20' viewBox='0 0 8 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.81399 6.86384H0V9.96181H1.81399V19.0614H5.30499V9.92255H7.74098L7.99998 6.86384H5.30598C5.30598 6.86384 5.30598 5.7211 5.30598 5.12205C5.30598 4.40016 5.44598 4.11523 6.11198 4.11523C6.64898 4.11523 8.00098 4.11523 8.00098 4.11523V0.938721C8.00098 0.938721 6.01098 0.938721 5.58398 0.938721C2.98699 0.938721 1.815 2.13482 1.815 4.42331C1.814 6.41883 1.81399 6.86384 1.81399 6.86384Z' fill='%23333333'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.9);
  }
}

.link-pinterest {
  display: block;
  width: 14px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.42597 0.938232C2.48996 0.938232 0.00195312 4.48324 0.00195312 7.44026C0.00195312 9.23038 0.677955 10.8242 2.12896 11.4172C2.36696 11.5148 2.57996 11.4202 2.64996 11.1564C2.69696 10.9732 2.81096 10.5121 2.86196 10.3218C2.93096 10.06 2.90496 9.96737 2.71296 9.74083C2.29496 9.24649 2.02696 8.60615 2.02696 7.70002C2.02696 5.0692 3.99096 2.71426 7.13997 2.71426C9.92997 2.71426 11.462 4.42182 11.462 6.70327C11.462 9.70459 10.137 12.2387 8.16997 12.2387C7.08296 12.2387 6.26996 11.3376 6.52896 10.2342C6.84096 8.91524 7.44597 7.4906 7.44597 6.54016C7.44597 5.68739 6.98997 4.97758 6.04596 4.97758C4.93496 4.97758 4.04196 6.12837 4.04196 7.67082C4.04196 8.65448 4.37396 9.31898 4.37396 9.31898C4.37396 9.31898 3.23696 14.1457 3.03896 14.9914C2.64196 16.6748 2.97796 18.7398 3.00696 18.9472C3.02396 19.071 3.18196 19.1002 3.25396 19.0076C3.35696 18.8737 4.67896 17.2356 5.12896 15.6005C5.25596 15.1384 5.85896 12.7391 5.85896 12.7391C6.21996 13.4298 7.27396 14.0369 8.39597 14.0369C11.736 14.0369 14.001 10.9863 14.001 6.90262C14.002 3.8137 11.392 0.938232 7.42597 0.938232Z' fill='%23333333'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.9);
  }
}

.link-x {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 1.78811C17.338 2.09116 16.626 2.29655 15.879 2.38817C16.641 1.91698 17.227 1.16992 17.502 0.278889C16.789 0.715847 15.999 1.03299 15.157 1.20415C14.483 0.463135 13.524 0 12.462 0C10.079 0 8.326 2.29655 8.865 4.68069C5.796 4.52262 3.074 3.00434 1.253 0.696717C0.285 2.41032 0.751 4.6525 2.396 5.78718C1.792 5.76705 1.221 5.59589 0.724001 5.30995C0.684001 7.07591 1.91 8.7281 3.685 9.09659C3.165 9.24258 2.596 9.27681 2.018 9.16203C2.488 10.6763 3.851 11.7798 5.467 11.81C3.914 13.0655 1.959 13.6273 0 13.3887C1.634 14.47 3.575 15.1012 5.66 15.1012C12.516 15.1012 16.389 9.12277 16.157 3.76046C16.878 3.22484 17.505 2.55329 18 1.78811Z' fill='%23333333'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.9);
  }
}

.banner-block {
  position: sticky;
  top: 60px;
  right: 0;
  width: 300px;
  height: 600px;

  &__link {
    position: relative;
    display: block;
    width: 300px;
    height: 600px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include responsive767 {
    display: none;
  }
}

.offset-block {
  width: calc(100% + 64px);
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  left: -32px;
  overflow: hidden;

  @include responsive767 {
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% + 32px);
    left: -16px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animationBtn {
  0% {
    transform: translateZ(0);
  }
  20% {
    transform: translate3d(-5px, 0, 0);
  }
  40% {
    transform: translate3d(0, 5px, 0);
  }
  60% {
    transform: translate3d(3px, 0, 0);
  }
  80% {
    transform: translate3d(5px, 3px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
